streamlit==1.45.1
transformers==4.37.2
torch==2.0.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
faiss-cpu
sentence-transformers
langchain==0.1.16
langchain-community==0.0.21
gdown
python-dotenv
matplotlib
